body {
	margin: 0 auto;
	padding: 0;
	min-width: 960px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;

	background-color: #f2f6f8;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}
/*
a {
	text-decoration: none;
	color: #ffffff;
}
*/
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/*временный клирфикс, чтобы самому было понятнее что происходит*/
/*.clearfix {
  content: "";
  display: table;
  clear: both;
}
*/

.list-style-none {
	list-style: none;
}

.wrapper {
	width: 940px;
	margin: 0 auto;
}

.button {
	display: block;
	width: 10px;
	/*нереальная ширина, чтобы не забывать указывать её в каждом инстансе*/
	height: 38px;
	padding-top: 11px;

	background-color: #ee3643;
	color: #ffffff;

	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.header-upper-section {
	background-color: #293449;
}

.header-top {
	display: flex;
	height: 42px;
	/*	margin: 0 auto;*/
}

.header-logo,
.footer-logo {
	width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;

	margin: 0;
	color: #ffffff;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933; /*надо чтобы граница выпадала*/
	font-size: 24px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.header-logo:hover,
.header-logo:focus {
	background-color: #ca2c37;
}

.header-logo:active {
	background-color: #ba2732;
}

.header-search {
	width: 270px;
	margin: 0;
	padding-left: 30px;
	border: none;
	color: #ffffff;
	background-color: #293449;
}

.header-search::placeholder {
	/*padding-top: 12px;*/
	/*padding-left: 30px;*/
	/*vertical-align: middle;*/
	color: #ffffff;
	font-size: 17px;
	/*line-height: 18px;*/
	opacity: 1; /*фаерфоксу*/
}

.header-search:hover {
	background-color: #212a3a;
}

.header-search:focus {
	padding-left: 30px;
	background-color: #ffffff;
	color: #000000;
	outline: none;
}

.header-cart,
.header-bookmarks {
	width: 150px;
	/*padding: 12px 20px 5px 45px;*/
}

.header-shortcuts {
	padding-top: 12px;
	padding-left: 40px;
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
}

.header-shortcuts:hover,
.header-shortcuts:focus {
	background-color: #161d29;
}

.header-shortcuts:active {
	/*надо ли сюда дублировать background-color: #161d29;*/
	color: rgba(255, 255, 255, 0.6);
}

.header-cart-has-items {
	background-color: #ee3643;
}

.header-cart-has-items:hover,
.header-cart-has-items:focus {
	background-color: #ca2c37;
}

.header-cart-has-items:active {
	background-color: #ba2732;
	color: rgba(255, 255, 255, 0.5);
}


.header-place-order {
	width: 150px;
	padding-left: 0;
	text-align: center;
	background-color: #63a63e;
}

.header-place-order:hover,
.header-place-order:focus {
	background-color: #5fbb2d;
}

.header-place-order:active {
	background-color: #518534;
	/*color:  rgba(255, 255, 255, 0.5);*/
	opacity: 0.5;
}


.header-lower-section {
	background-color: #f3f7f8;
}

.header-middle {
	display: flex;
	margin-top: 47px;
	margin-bottom: 40px;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: flex-start;
}

/*
а это что здесь делает.
оставлено на случай, если что-то пойдёт не так*/
/*.header-middle {
	background-color: #f4f7f9;
}*/

.header-caption {
	display: block;
	margin: 0px;
	margin-top: 2px;
	width: 185px;
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
}

.nowrap {
	white-space: nowrap;
}

.header-contact-info {
	display: block;
	width: 270px;
	margin-right: 70px;
	margin-left: 70px;
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.header-phone {
	display: block;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 3px solid #ffffff;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
}

.header-profile {
	display: flex;
	flex-basis: 300px;
	flow: row nowrap;
	justify-content: flex-end;
}

.profile-logged-out {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #ffffff;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
}

.header-login {
	width: 120px;
}

.header-signup {
	width: 150px;
	margin-left: 10px;
}

.profile-logged-out:focus,
.profile-logged-out:hover {
	color: #ee3643;
}

.profile-logged-out:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-profile-user {
	background-color: #ffffff;
	color: #000000;

	font-size: 21px;
	line-height: 21px;
}

.header-profile-user:hover,
.header-profile-user:focus {
	color: #ee3643;
}

.header-profile-user:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-profile-link {
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.header-profile-link:hover,
.header-profile-link:focus {
	color: #ee3643;
}

.header-profile-link:active {
	color: rgba(50, 66, 92, 0.3);
}

/*.header-profile .header-profile-link:last-child {
	list-style: disc;
в каталоге отсутствует точка между ссылок профиля
}*/

.main-menu {
	display: flex;
	flex-basis: 940px;
	margin-bottom: 60px;
	height: 60px;
	justify-content: space-between;
	align-items: stretch;
	background-color: #32425c;

	border-bottom: 5px solid #293449;
}


.menu-item {
	flex-grow: 1;
	padding-top: 19px;
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
	text-decoration: none;
	text-align: center;
}

.menu-item:hover,
.menu-item:focus {
	background-color: #293449;
}

.menu-item:active {
	opacity: 0.5;
}

.main {
	margin-top: 40px;
	background-color: #ffffff;
}

.featured {
	display: flex;
	flex-basis: 940px;
	padding-top: 40px;
}

.featured-category-list {
	display: flex;
	flex-basis: 620px;
	padding: 0;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.featured-category-list:last-child {
	flex-flow: column nowrap;
	margin-left: 20px;
}

.featured-category {
	position: relative;
	width: 300px;
	height: 123px;
}

.featured-title {
	/*padding-top: 23px;*/
	padding-left: 22px;
	font-size: 24px;
	line-height: 30px;
}

.featured-button {
	display: block;
	position: absolute;
	width: 135px;
	height: 38px;
	bottom: 22px;
	left: 25px;
	text-align: center;
	padding-top: 12px;
	border-radius: 4px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

.featured-materials {
	margin-right: 20px;
	background-color: #ffbf47;
}

.featured-tools {
	background-color: #3bbce3;
}

.featured-heavy-machinery {
	margin-bottom: 20px;
	background-color: #dc91d8;
}

/*сделать нормальный дизайн в лейте*/
.featured-sale {
	margin-bottom: 20px;
	background-color: #8ed78f;
}

/*сделать нормальный дизайн в лейте*/
.featured-delivery {
	background-color: #ffc047;
}

.featured-button:hover,
.featured-button:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.featured-button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.slide-header {
	margin: 0;
	font-size: 36px;
	line-height: 36px;
}

.slide-paragraph {
	font-size: 18px;
	line-height: 24px;
}

.slider-block {
	padding: 0;
	margin-top: 20px;
}

.slide {
	position: relative;
	width: 620px;
	height: 266px;
}

.slide-1 {
	background-color: #293449;
	background-image: url("../img/featured-slide-1.jpg");
	background-repeat: no-repeat;
}

.slide-2 {
	display: none;
	/* спрятан для целей вёрстки*/
	background-color: #293449;
	background-image: url("../img/featured-slide-2.jpg");
	background-repeat: no-repeat;
}

.button-slider {
	position: absolute;
	width: 195px;
	left: 25px;
	bottom: 22px;
}

.popular-items-header,
.popular-brands-header {
	position: relative;
	background-color: #f9f5f0;
	height: 89px;
}

.popular-items-header {
	margin-top: 36px;
}

.button-popular {
	position: absolute;
	top: 25px;
	right: 24px;
	width: 253px;
}

/*.popular-items-header h2,
.popular-brands-header h2 */
.popular-caption {
	display: block;
	padding: 0;
	margin: 0;
	padding-top: 30px;
	padding-left: 20px;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.popular-items-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-top: 18px;
	padding-top: 2px;
}

.item {
	position: relative;
	display: block;
	width: 220px;
	height: 318px;
	background-color: #ffffff;
	color: #000000;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: 700;

	border: 1px solid #eaeaea;
}

.item-caption {
	padding: 0;
	/*margin: 0;*/
	margin-top: 4px;
	margin-bottom: 12px;
	padding-left: 20px;
	padding-right: 20px;
	color: #000000;

	font-size: 18px;
	line-height: 20px;
	text-align: center;
}

.old-price {
	display: block;
	/*разумно ли давать спану блок, если я просто хочу перенос на строку?*/
	height: 18px;
	/*без указаной высоты форматирование слетает, когда спан пуст*/
	color: #a9a9a9;
	font-size: 17px;
	line-height: 18px;
	text-decoration: line-through;
	text-align: center;
}

.price {
	position: relative;
	display: block;
	width: 121px;
	height: 38px;
	padding-top: 12px;
	padding-left: 12px;
	margin-left: 42px;
	margin-top: 7px;
	background-color: #ee3643;
	color: #ffffff;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.price::after {
	content: "";
	position: absolute;
	left: 121px;
	top: 0;
	display: block;

	width: 0;
	height: 0;
	border-left: 20px solid #ee3643;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
}

.catalog-item-on-hover {
	visibility: hidden;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 169px;
	background-color: #ffffff;
}

/*для наглядности */
.item:last-child .catalog-item-on-hover {
	visibility: visible;
}
/*конец наглядности*/

.button-add-to-cart,
.button-bookmark {
	width: 135px;
	height: 38px;
	border-radius: 4px;

	text-transform: uppercase;
	outline: none;
}

/* рандомные красявости */
.button-add-to-cart:focus,
.button-bookmark:focus {
	outline: 1px ridge #85c47c;
	outline-offset: 1px;
}
/*в идеале сделать такой стейт для всех кнопок*/

.button-add-to-cart {
	color: #ffffff;
	background-color: #63a63e;
	margin-bottom: 7px;

	font-family: "Cuprum", "Tahoma", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	border-width: 0;
	border-bottom: 3px solid #367315;
}

.button-add-to-cart:hover,
.button-add-to-cart:focus {
	background-color: #5fbb2d;
}

.button-add-to-cart:active {
	background-color: #518534;
	border-color: #518534;
}

.button-bookmark {
	color: #32425c;
	background-color: #ffffff;

	font-family: "Cuprum", "Tahoma", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;

	border: 3px solid #63a63e;
}

.button-bookmark:focus,
.button-bookmark:hover {
	border-color: #32425c;
}

.button-bookmark:active {
	opacity: 0.3;
}

.popular-brands-header {
	margin: 0;
	padding: 0;
	margin-top: 21px;
}

/*.brand {  вспомогательное 
	display: block;
	float: left;
	border: 1px solid black;
}
*/
.popular-brands-list {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 940px;
	justify-content: space-between;
	align-items: space-between;

	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 65px;
}

.brand {
	margin: 0;
	padding: 0;
	/*margin-right: 10px;*/
	margin-bottom: 20px;
	/*display: inline-block;*/
	width: 220px;
	height: 145px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #eaeaea;
}

/*чтобы ссылка заполняла весь контейнер*/

.brand-link {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: 27px;
}
/*сервисы*/

.services {
	background-color: #f2f6f8;
	padding-top: 40px;
}


/*.services-description-paragraph {
	padding-top: 1px;
}
пиксельперфект - пересмотреть как вообще размечены селекторы
.services-description-paragraph 
в последнюю очередь
*/


.display-none {
	display: none;
}
/* дисплей нан временный, удалить*/

.services-wrapper {
	margin-top: 69px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 285px;

}

.services-title {
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.service-option {
	height: 61px;
	padding-left: 22px;
	padding-top: 14px;

	background-color: #32425c;
	color: #ffffff;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
}

.service-option-link {
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
}

.service-option-link:hover,
.service-option-link:focus {
	background-color: #293449;
	border-bottom-color: transparent;
}

.service-option-link:active,
.service-option-selected {
	background-color: #ffffff;
	color: #32425c;
	border-color: transparent;
}

/*
дублируется с селектором выше
.service-option-selected {
	background-color: #ffffff;
	color: #32425c;
}*/

.services-list {
	display: flex;
	flex-flow: column nowrap;
	width: 240px;

	padding: 0;
	margin: 0;
}

/*ниже дивы*/

.services-description { /*вспомогательное*/
	width: 640px;
	height: 100%;
	padding-left: 20px;
	margin-left: 60px;

	background-position: right bottom;
}

.services-description-title {
	padding: 0;
	padding-bottom: 11px;
	margin: 0;
	color: #32425c;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

.services-description-paragraph,
.category-details-paragraph {
	color: #000000;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
}


.services-warranty {
	background-image: url("../img/services-bg-warranty.png");
	background-repeat: no-repeat;
}

.services-warranty .services-description-paragraph {
	width: 380px;
}

.services-delivery {
	background-image: url("../img/services-bg-delivery.png");
	background-repeat: no-repeat;
	/*background-position: right bottom;*/
}

.services-delivery .services-description-paragraph {
	width: 280px;
}

.services-loan {
	background-image: url("../img/services-bg-loan.png");
	background-repeat: no-repeat;
}

.request-loan {
	margin-top: 20px;
	width: 195px;
}

.company-info {
	color: #000000;

	font-size: 13px;
	line-height: 24px;
}

.company-info h3 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.delivery-service {
	font-size: 18px;
	line-height: 20px;
}


.footer-top {
	background-color: #32425c;
	/*color: #ffffff;*/

	font-size: 18px;
	line-height: 24px;
}


.footer-menu-link {
	color: #ffffff;
	text-decoration: none;
}


.footer-menu-link:hover,
.footer-menu-link:focus {
	text-decoration: underline;
}

.footer-menu-link:active {
	opacity: 0.5;
}

/* !!! .footer-catalog-link не может быть выше .footer-menu-link*/
.footer-catalog-link {
	color: #ffd180;
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;
}

.footer-link {
	color: #ffd180;
	text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
	text-decoration: underline;
}

.footer-link:active {
	color: #ee3643;
}

.social:hover, 
.social:focus,
.social:active {
	background-color: #ee3643;
}

.feedback-popup {
	background-color: #ffffff;
	border-top:3px solid #ee3643;
	color: #000000;
	font-size: 18px;
	line-height: 18px;
}

.feedback-popup ::placeholder {
	color: #a9a9a9;
	font-size: 13px;
	line-height: 18px;
}

.feedback-button-wraper {
	background-color: #f4f4f4;
}

/*красные кнопки*/ 


/* переделать */
/*------------*/

/*доп-стили для каталога */


/*.main {
	background-color: #000;
}
*/

.breadcrumbs,
.filter-section,
.catalog-sort {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.breadcrumbs-link {
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
}

.current-category {
	color: #32425c;
	background-color: #f2f6f8;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter-section {
	color: #000000;
}

.filter-fieldset {
	border: 0;
}

.filter-legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
}

.filter-price-input,
.price-range,
.filter-header,
.catalog-sort {
	background-color: #f7f3ec;
}

.filter-header,
.catalog-sort,
.catalog-sort-header,
.filter-button,
.pagination {
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.filter-option-label {
	font-size: 15px;
	line-height: 20px;
}

/*стилизация радиобатнов и чекбоксов позже, когда картинки к ним прилепим*/

.filter-button {
	background-color: #ffffff;
	border: 1px solid #000000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-parameter {
	display: inline;

	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #ee3643;
	text-decoration: none;
}

.sort-parameter:focus,
.sort-parameter:hover {

	color: rgba(0, 0, 0, 1);
	border-bottom: 1px solid #ee3643;
}

.sort-parameter:active {
	color: #ee3643;
	border-bottom: none;
}

.sort-parameter-selected {
	color: #ee3643;
	text-decoration: none;
}

.pagination {
	text-decoration: none;
}

.pagination:hover,
.pagination:focus {
	/*манипуляции с границей*/
}

.pagination:active {
	/*манипуляции с границей*/
}

.pagination-selected {
	background-color: #ee3643;
	color: #ffffff;
}

.category-details {
	background-color: #f2f6f8;
}

.category-details-header {
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}
