body {
	margin: 0;
	padding: 0;

	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;

	background-color: #293449; 
}


a {
	text-decoration: none;
	color: #ffffff;
}

.visually-hidden {
	position: absolute; 
	overflow: hidden; 
 	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0;
}

/*временный клирфикс, чтобы самому было понятнее что происходит*/
.clearfix {
  content: "";
  display: table;
  clear: both;
}

.header-logo, 
.footer-logo {
	text-transform: uppercase;
	background-color: #ee3643;
	font-size: 24px;
	line-height: 24px;
}

.header-logo:hover,
.header-logo:focus {
	background-color: #ca2c37;
}

.header-logo:active {
	background-color: #ba2732;

}

.header-search {
	background-color: #293449;
	
}

.header-search::placeholder {
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
}

.header-search:hover,
.header-search {
	background-color: #212a3a;
}

.header-search:focus {
	background-color: #ffffff;
	color: #000000;
}

.header-shortcuts {
	font-size: 17px;
	line-height: 18px;
}

.header-shortcuts:hover,
.header-shortcuts:focus {
	background-color: #161d29;
}

.header-shortcuts:active {
	/*надо ли сюда дублировать background-color: #161d29;*/
	color: rgba(255, 255, 255, 0.6);

}
.header-cart:not(.cart-empty) {
	background-color: #ee3643;
}
.header-cart:not(.cart-empty):hover,
.header-cart:not(.cart-empty):focus {
	background-color: #ca2c37;
}

.header-cart:not(.cart-empty):active {
	background-color: #ba2732;
	color: rgba(255, 255, 255, 0.5);
}


/*странное поведение! надо ли прописывать все параметры каждому состоянию? */
a.header-place-order {
	background-color: #63a63e;
}

a.header-place-order:hover, 
a.header-place-order:focus {
	background-color: #5fbb2d;
}

a.header-place-order:active {
	background-color: #518534;
	/*color:  rgba(255, 255, 255, 0.5);*/
	opacity: 0.5;
}


/*геноцид оформлений списка*/
.header-top ul,
.header-profile,
.main-menu ul,
.featured-category-list,
.slider,
.popular-brands-list,
.popular-items-list,
.services-list,
.footer-menu {
	list-style: none;
}


.header-middle {
	background-color: #f4f7f9;
}

.header-caption {
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
}

span.header-phone {
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
}
/*!при увеличении специфичности 
.header-contact-info может слететь оформление телефона. или нет*/

.header-contact-info {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
}


.profile {
	background-color: #ffffff;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
}

.profile:focus,
.profile:hover {
	color: #ee3643;

}

.profile:active {
	color: rgba(0, 0, 0, 0.3);

}
/*в случаях где манипуляции с прозрачностью, 
может лучше использовать opacity, чем переключаться с хекса в ргба*/

nav.main-menu {
	background-color: #32425c;
}

.menu-item {
	font-size: 17px;
	line-height: 17px;
}

.menu-item:hover,
.menu-item:focus {
	background-color: #293449;
}

.menu-item:active {
	opacity: 0.5;
}

.main {
	background-color: #ffffff;
}

.featured-materials {
	background-color: #ffbf47;
}

.featured-tools {
	background-color: #3bbce3;
}

.featured-heavy-machinery {
	background-color: #dc91d8;
}

.featured-sale {
	background-color: #8ed78f;
}

.featured-delivery {
	background-color: #ffc047;
}

.featured-category {
	font-size: 24px;
	line-height: 30px;
}


/*30 20 10*/
.featured-button {
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.featured-button:hover,
.featured-button:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.featured-button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.slide h3 {
	font-size: 36px;
	line-height: 36px;
}

.slide p {
	font-size: 18px;
	line-height: 24px;
}

.slide {
	
	width: 620px;
	height: 265px;
}

.slide-1 {
	background-color: #293449;
	background-image: url("../img/featured-slide-1.jpg");
	background-repeat: no-repeat;
}

.slide-2 {
	background-color: #293449;
	background-image: url("../img/featured-slide-2.jpg");
	background-repeat: no-repeat;
}

/*стилизация кнопок в слайдере и вообще - в конце файла*/

.popular-items-header, 
.popular-brands-header {
	background-color: #f9f5f0;
}

.popular-items-header h2, 
.popular-brands-header h2 {
	color: #32425c; 
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}


.item {
	display: inline-block; /* вспомогательное */
	border:1px solid black; /* вспомогательное */

	float: left;
	background-color: #ffffff;
	color: #000;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: 700;
}

.item h2 {
	color: #000000;

	font-size: 18px;
	line-height: 20px
}

.old-price {
	color: #a9a9a9;

	font-size: 17px;
	line-height: 18px;
	text-decoration: line-through;
}

.price {
	background-color: #ee3643;
	color: #ffffff;

	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
}

.catalog-item-on-hover button {
	/*пока ничего*/
}

.catalog-item-on-hover .add-to-cart {
	color: #ffffff;
	background-color: #63a63e;
	border-color: #367315;

	font-family: "Cuprum", "Tahoma", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;

}

.catalog-item-on-hover .add-to-cart:hover,
.catalog-item-on-hover .add-to-cart:focus {
	background-color: #5fbb2d;
}

.catalog-item-on-hover .add-to-cart:active {
	background-color: #518534;

}


.catalog-item-on-hover .bookmark {
 	color: #32425c;
 	background-color: #ffffff;
 	border-color: #63a63e;

 	font-family: "Cuprum", "Tahoma", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
}

.catalog-item-on-hover .bookmark:focus,
.catalog-item-on-hover .bookmark:hover {
	border-color: #000000;

}

.catalog-item-on-hover .bookmark:active {
	opacity: 0.3;
}


.brand { /* вспомогательное */
	display: block;
	float: left;
	border: 1px solid black;
}

.services {
	background-color: #f2f6f8;
}

.services p {
	color: #000000;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
}

.services h2 {
	color: #000000;
	font-size: 30px;
	line-height: 30px;
}

.services h3 {
	color: #32425c;
	font-size: 36px;
	line-height: 36px;
}

.service-option {
	background-color: #32425c;
	color: #ffffff;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
}

.service-option:not(.option-active):hover,
.service-option:not(.option-active):focus {
	background-color: #293449;
}

.service-option:not(.option-active):active {
	background-color: #ffffff;
	color: #32425c;
}

.option-active {
	background-color: #ffffff;
	color: #32425c;
}

.services-description { /*вспомогательное*/
	height: 300px;
}
.services-warranty {
	background-image: url("../img/services-bg-warranty.png");
	background-repeat: no-repeat;
}

.services-delivery {
	background-image: url("../img/services-bg-delivery.png");
	background-repeat: no-repeat;
}

.services-loan {
	background-image: url("../img/services-bg-loan.png");
	background-repeat: no-repeat;
}

.company-info {
	/*background-color: #ffffff;*/
	color: #000000;

	font-size: 13px;
	line-height: 24px;
}

.company-info h3 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

}

p.delivery-service {
	font-size: 18px;
	line-height: 20px;
}


.footer-top{
	background-color: #32425c;
	/*color: #ffffff;*/

	font-size: 18px;
	line-height: 24px;
}

.footer-catalog-item a {
	color: #ffd180;
}

.footer-menu a:hover,
.footer-menu a:focus {
	text-decoration: underline;
}

.footer-menu a:active {
	opacity: 0.5;
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;
}

.footer-link {
	color: #ffd180;
}
.footer-link:hover,
.footer-link:focus {
	text-decoration: underline;

}

.footer-link:active {
	color: #ee3643;
}
.social:hover, 
.social:focus,
.social:active {
	background-color: #ee3643;
}



.feedback-popup {
	background-color: #ffffff;
	border-top:3px solid #ee3643;
	color: #000000;
	font-size: 18px;
	line-height: 18px;
}

.feedback-popup ::placeholder {
	color: #a9a9a9;
	font-size: 13px;
	line-height: 18px;
}

.feedback-button-wraper {
	background-color: #f4f4f4;
}



/*красные кнопки*/ 
.button {
	background-color: #ee3643;
	color: #ffffff;

	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}
/*------------*/

/*доп-стили для каталога */
.header-profile-user {
	background-color: #ffffff;
	color: #000000;

	font-size: 21px;
	line-height: 21px;
}

.header-profile-user:hover, 
.header-profile-user:focus {
	color: #ee3643;

}

.header-profile-user:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-profile-link {
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.header-profile-link:hover, 
.header-profile-link:focus {
	color: #ee3643;
}

.header-profile-link:active {
	color: rgba(50, 66, 92, 0.3);
}




