body {
	margin: 0 auto;
	padding: 0;
	min-width: 960px;
	font-family: "Cuprum", "Tahoma", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;

	background-color: #f2f6f8;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}
/*
a {
	text-decoration: none;
	color: #ffffff;
}
*/
.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/*временный клирфикс, чтобы самому было понятнее что происходит*/
/*.clearfix {
  content: "";
  display: table;
  clear: both;
}
*/

.list-style-none {
	list-style: none;
}

.wrapper {
	width: 940px;
	margin: 0 auto;
}

.button {
	display: block;
	width: 10px;
	/*нереальная ширина, чтобы не забывать указывать её в каждом инстансе*/
	height: 38px;
	padding-top: 10px;

	background-color: #ee3643;
	color: #ffffff;

	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border-radius: 4px;
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.header-upper-section {
	background-color: #293449;
}

.header-top {
	display: flex;
	height: 42px;
	/*	margin: 0 auto;*/
}

.header-logo {
	width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;

	margin: 0;
	color: #ffffff;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933; /*граница не выпадает*/
	font-size: 24px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}

.header-logo:hover,
.header-logo:focus {
	background-color: #ca2c37;
}

.header-logo:active {
	background-color: #ba2732;
}

.header-search {
	width: 270px;
	margin: 0;
	/*padding-top: 0;*/
	padding-left: 48px;
	border: none;
	color: #ffffff;
	background-color: #293449;
}

.header-search::placeholder {
	/*padding-top: 12px;*/
	/*padding-left: 30px;*/
	/*vertical-align: middle;*/
	color: #ffffff;
	font-size: 17px;
	/*line-height: 18px;*/
	opacity: 1; /*фаерфоксу*/
}

.header-search:hover {
	background-color: #212a3a;
}

.header-search:focus {
	padding-left: 48px;
	background-color: #ffffff;
	color: #000000;
	outline: none;
}


.header-shortcuts {
	padding-top: 12px;
	/*padding-left: 44px;*/
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
}


.header-cart,
.header-bookmarks {
	width: 150px;
	/*padding: 12px 20px 5px 45px;*/
}

.header-bookmarks {
	padding-left: 44px;
}

.header-cart {
	padding-left: 49px;
}

.header-shortcuts:hover,
.header-shortcuts:focus {
	background-color: #161d29;
}

.header-shortcuts:active {
	/*надо ли сюда дублировать background-color: #161d29;*/
	color: rgba(255, 255, 255, 0.6);
}

.header-cart-has-items {
	background-color: #ee3643;
}

.header-cart-has-items:hover,
.header-cart-has-items:focus {
	background-color: #ca2c37;
}

.header-cart-has-items:active {
	background-color: #ba2732;
	color: rgba(255, 255, 255, 0.5);
}


.header-place-order {
	width: 150px;
	padding-left: 0;
	text-align: center;
	background-color: #63a63e;
}

.header-place-order:hover,
.header-place-order:focus {
	background-color: #5fbb2d;
}

.header-place-order:active {
	background-color: #518534;
	/*color:  rgba(255, 255, 255, 0.5);*/
	opacity: 0.5;
}


.header-lower-section {
	background-color: #f3f7f8;
}

.header-middle {
	display: flex;
	margin-top: 47px;
	margin-bottom: 39px;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: flex-start;
}

/*
а это что здесь делает.
оставлено на случай, если что-то пойдёт не так*/
/*.header-middle {
	background-color: #f4f7f9;
}*/

.header-caption {
	display: block;
	margin: 0px;
	margin-top: 2px;
	padding-left: 6px;
	width: 185px;
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
}

.nowrap {
	white-space: nowrap;
}

.header-contact-info {
	display: block;
	width: 270px;
	margin-right: 51px;
	margin-left: 89px;
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.header-phone {
	display: block;
	padding-left: 23px;
	padding-top: 8px;
    padding-bottom: 9px;
    margin-bottom: 4px;
	border: 3px solid #ffffff;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	text-transform: uppercase;
}

.header-profile {
	display: flex;
	flex-basis: 300px;
	width: 300px;
	flex-flow: row wrap;
	justify-content: stretch;
}

.profile-logged-out {
	padding-top: 11px;
	padding-bottom: 11px;
	text-align: center;
	background-color: #ffffff;
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
}

.header-login {
	width: 120px;
	padding-left: 20px;
}

.header-signup {
	width: 150px;
	margin-left: 10px;
}

.profile-logged-out:focus,
.profile-logged-out:hover {
	color: #ee3643;
}

.profile-logged-out:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-profile-user {
	width: 100%;
	padding: 11px 47px 10px;
	/*padding-top: 10px;
    padding-left: 47px;
    padding-bottom: 12px;*/
    margin-bottom: 9px;
	
	background-color: #ffffff;
	color: #000000;


	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
}

.header-profile-user:hover,
.header-profile-user:focus {
	color: #ee3643;
}

.header-profile-user:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-profile-link {
	padding-left: 18px;
    padding-right: 14px;
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.header-profile-link:hover,
.header-profile-link:focus {
	color: #ee3643;
}

.header-profile-link:active {
	color: rgba(50, 66, 92, 0.3);
}

/*.header-profile .header-profile-link:last-child {
	list-style: disc;
в каталоге отсутствует точка между ссылок профиля
}*/

.main-menu {
	display: flex;
	flex-basis: 940px;
	margin-bottom: 60px;
	padding-left: 21px;
	padding-right: 24px;
	height: 60px;
	justify-content: space-between;
	align-items: stretch;
	background-color: #32425c;

	border-bottom: 5px solid #293449;
}


.menu-item {
	flex-grow: 1;
	padding-top: 20px;
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
	text-decoration: none;
	text-align: center;
}

.menu-item:hover,
.menu-item:focus {
	background-color: #293449;
}

.menu-item:active {
	opacity: 0.5;
}

.main {
	margin-top: 40px;
	background-color: #ffffff;
}

.featured {
	display: flex;
	flex-basis: 940px;
	padding-top: 41px;
/*	padding-left: 1px; !pl1px*/
}

.featured-category-list {
	display: flex;
	flex-basis: 620px;
	padding: 0;
	margin: 0;
	margin-top: 18px;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.featured-category-list:last-child {
	flex-flow: column nowrap;
	margin-left: 20px;
}

.featured-category {
	position: relative;
	width: 300px;
	height: 123px;
}

.featured-title {
	margin: 0;
	padding-top: 21px;
	padding-left: 22px;
	font-size: 24px;
	line-height: 30px;
}

.featured-button {
	position: absolute;
	bottom: 22px;
	left: 25px;
	display: block;
	width: 135px;
	height: 38px;
	padding-top: 10px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.1);

	text-align: center;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 4px;
}

.featured-materials {
	margin-right: 20px;
	background-color: #ffbf47;
}

.featured-tools {
	background-color: #3bbce3;
}

.featured-heavy-machinery {
	margin-bottom: 20px;
	background-color: #dc91d8;
}

/*сделать нормальный дизайн в лейте*/
.featured-sale {
	margin-bottom: 20px;
	background-color: #8ed78f;
}

/*сделать нормальный дизайн в лейте*/
.featured-delivery {
	background-color: #ffc047;
}

.featured-button:hover,
.featured-button:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.featured-button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.slide-header {
	margin: 0;
	padding: 0;
	padding-top: 22px;
	padding-left: 24px;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

.slide-paragraph {
	padding: 0;
	margin: 0;
	padding-left: 24px;
	padding-top: 1px;
	font-size: 18px;
	line-height: 24px;
}

.slider-block {
	padding: 0;
	/*margin:0;*/
	margin-top: 20px;
	/* если обнулить нижний маргин, слетит вся рамзетка. fun */
}

.slide {
	position: relative;
	width: 620px;
	height: 266px;
}


.slide-1 {
	background-color: #293449;
	background-image: url("../img/featured-slide-1.jpg");
	background-repeat: no-repeat;
}

.slide-2 {
	display: none;
	/* спрятан для целей вёрстки*/
	background-color: #293449;
	background-image: url("../img/featured-slide-2.jpg");
	background-repeat: no-repeat;
}

.button-slider {
	position: absolute;
	width: 195px;
	left: 25px;
	bottom: 22px;
}

.popular-items {
	/*padding-top: 18px;*/
}

.popular-items-header,
.popular-brands-header {
	position: relative;
	background-color: #f9f5f0;
	height: 89px;
}

.popular-items-header {
	margin-top: 35px;
}

.button-popular {
	position: absolute;
	top: 25px;
	right: 24px;
	width: 253px;
}

/*.popular-items-header h2,
.popular-brands-header h2 */
.popular-caption {
	display: block;
	padding: 0;
	margin: 0;
	padding-top: 29px;
	padding-left: 27px;
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.popular-items-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	margin-top: 18px;
	padding-top: 2px;
}

.item {
	position: relative;
	display: block;
	width: 220px;
	height: 318px;
	background-color: #ffffff;
	color: #000000;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: 700;

	border: 1px solid #eaeaea;
}

.item-caption {
	padding: 0;
	/*margin: 0;*/
	margin-top: 3px;
	margin-bottom: 11px;
	padding-left: 19px;
	padding-right: 19px;
	color: #000000;

	font-size: 18px;
	line-height: 20px;
	text-align: center;
}

.old-price {
	display: block;
	/*разумно ли давать спану блок, если я просто хочу перенос на строку?*/
	height: 18px;
	/*без указаной высоты форматирование слетает, когда спан пуст*/
	color: #a9a9a9;
	font-size: 17px;
	line-height: 18px;
	text-decoration: line-through;
	text-align: center;
}

.price {
	position: relative;
	display: block;
	width: 121px;
	height: 38px;
	padding-top: 12px;
	padding-left: 15px;
	margin-left: 41px;
	margin-top: 8px;
	background-color: #ee3643;
	color: #ffffff;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.price::after {
	content: "";
	position: absolute;
	left: 121px;
	top: 0;
	display: block;

	width: 0;
	height: 0;
	border-left: 20px solid #ee3643;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
}

.catalog-item-on-hover {
	visibility: hidden;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 169px;
	background-color: #ffffff;
}

/*для наглядности */
.item:last-child .catalog-item-on-hover {
	visibility: visible;
}
/*конец наглядности*/

.button-add-to-cart,
.button-bookmark {
	width: 135px;
	height: 38px;
	border-radius: 4px;

	text-transform: uppercase;
	outline: none;
}

/* рандомные красявости */
.button-add-to-cart:focus,
.button-bookmark:focus {
	outline: 1px ridge #85c47c;
	outline-offset: 1px;
}
/*в идеале сделать такой стейт для всех кнопок*/

.button-add-to-cart {
	color: #ffffff;
	background-color: #63a63e;
	margin-bottom: 7px;

	font-family: "Cuprum", "Tahoma", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	border-width: 0;
	border-bottom: 3px solid #367315;
}

.button-add-to-cart:hover,
.button-add-to-cart:focus {
	background-color: #5fbb2d;
}

.button-add-to-cart:active {
	background-color: #518534;
	border-color: #518534;
}

.button-bookmark {
	color: #32425c;
	background-color: #ffffff;

	font-family: "Cuprum", "Tahoma", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;

	border: 3px solid #63a63e;
}

.button-bookmark:focus,
.button-bookmark:hover {
	border-color: #32425c;
}

.button-bookmark:active {
	opacity: 0.3;
}

.popular-brands-header {
	margin: 0;
	padding: 0;
	margin-top: 21px;
}

.popular-brands .popular-caption {
	padding-left: 24px;
}

/*.brand {  вспомогательное 
	display: block;
	float: left;
	border: 1px solid black;
}
*/
.popular-brands-list {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 940px;
	justify-content: space-between;
	align-items: space-between;

	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 65px;
}

.brand {
	margin: 0;
	padding: 0;
	/*margin-right: 10px;*/
	margin-bottom: 20px;
	/*display: inline-block;*/
	width: 220px;
	height: 145px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #eaeaea;
}

/*чтобы ссылка заполняла весь контейнер*/

.brand-link {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: 27px;
}
/*сервисы*/

.services {
	background-color: #f2f6f8;
	padding-top: 40px;
}


/*.services-description-paragraph {
	padding-top: 1px;
}
пиксельперфект - пересмотреть как вообще размечены селекторы
.services-description-paragraph 
в последнюю очередь
*/


.display-none {
	display: none;
}
/* дисплей нан временный, удалить*/

.services-wrapper {
	margin-top: 69px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 285px;

}

.services-title {
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.service-option {
	height: 61px;
	padding-left: 23px;
	padding-top: 13px;

	background-color: #32425c;
	color: #ffffff;
	font-weight: 700;
	font-size: 21px;
	line-height: 30px;
}

.service-option-link {
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
}

.service-option-link:hover,
.service-option-link:focus {
	background-color: #293449;
	border-bottom-color: transparent;
}

.service-option-link:active,
.service-option-selected {
	background-color: #ffffff;
	color: #32425c;
	border-color: transparent;
}

/*
дублируется с селектором выше
.service-option-selected {
	background-color: #ffffff;
	color: #32425c;
}*/

.services-list {
	display: flex;
	flex-flow: column nowrap;
	width: 240px;

	padding: 0;
	margin: 0;
}

/*ниже дивы*/

.services-description { /*вспомогательное*/
	width: 640px;
	height: 100%;
	padding-left: 20px;
	margin-left: 60px;

	background-position: right bottom;
}

.services-description-title {
	padding: 0;
	padding-bottom: 10px;
	margin: 0;
	color: #32425c;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

.services-description-paragraph,
.category-details-paragraph {
/*	padding-top: 1px; pt1px*/
/*	padding-left: 1px; !pl1px*/
	color: #000000;
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
}


.services-warranty {
	background-image: url("../img/services-bg-warranty.png");
	background-repeat: no-repeat;
}

.services-warranty .services-description-paragraph {
	width: 380px;
}

.services-delivery {
	background-image: url("../img/services-bg-delivery.png");
	background-repeat: no-repeat;
	/*background-position: right bottom;*/
}

.services-delivery .services-description-paragraph {
	width: 280px;
}

.services-loan {
	background-image: url("../img/services-bg-loan.png");
	background-repeat: no-repeat;
}

.request-loan {
	margin-top: 20px;
	width: 195px;
}

/*о компании*/
.company-info {
	display: flex;
	justify-content: space-between;
	margin-top: 47px;
	padding-bottom: 85px;
	color: #000000;

	font-size: 13px;
	line-height: 24px;
}

.company-info-title {
	margin-bottom: 29px;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.company-info-paragraph {
	padding: 0;
/*	padding-left: 1px; !pl1px*/
	padding-bottom: 24px;
	margin: 0;
	font-family: "PT Sans", "Tahoma", sans-serif;
}


.about-us {
	width: 520px;
}

.company-info-paragraph:nth-of-type(2) {
	padding-bottom: 10px;
}

.carrier-service {
	margin: 0;
	padding: 9px 37px 11px;
	font-size: 18px;
	line-height: 20px;
}

.button-carrier {
	margin-top: 26px;
	width: 220px;
}

.contact-info {
	width: 300px;
}

.contact-info .company-info-paragraph {
	width: 200px;
	padding-bottom: 30px;
}

.button-contact-us {
	margin-top: 31px;
	width: 300px;
}
/*футер*/

.footer {
	/*padding: 0;
	margin:0;*/
}

.footer-top {
/*	padding: 0;
	margin-top: 0;*/
	padding-bottom: 32px;
	background-color: #32425c;
	/*color: #ffffff;*/

	font-size: 18px;
	line-height: 24px;
}

.footer-top-contents {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	/*align-items: baseline; */
	/*???*/
}

.footer-contact-info {
	padding-top: 9px;
	padding-left: 3px;
}

.footer-logo {
	display: block;
	width: 220px;
	height: 68px;
	padding-top: 17px;
	background-color: #ee3643;
	color: #ffffff;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 5px solid #b52933;
}

.footer-logo:hover,
.footer-logo:focus {
	background-color: #ca2c37;
}

.footer-logo:active {
	background-color: #ba2732;
}
.footer-menu-section {
	/*padding-top: 10px;*/
}

.footer-menu {
	/*height: 50px;*/
	display: flex;
	flex-basis: 550px;
	width: 550px;
	flex-grow: 1;
	justify-content: flex-end;
}


.footer-general-menu {
	padding-top: 19px;	
}

.footer-catalog-menu {
	padding-top: 16px;
	/*flex-basis: 530px;
	width: 530px;*/
}

.footer-menu-link {
	padding-left: 60px;
	color: #ffffff;
	text-decoration: none;
}


.footer-menu-link:hover,
.footer-menu-link:focus {
	text-decoration: underline;
}

.footer-menu-link:active {
	opacity: 0.5;
}
/* !!! .footer-catalog-link не может быть выше .footer-menu-link*/
.footer-catalog-link {
	color: #ffd180;
}

.footer-bottom {
/*	padding: 0;
	margin: 0;*/
	background-color: #293449;
	font-size: 16px;
	line-height: 18px;
}

.footer-bottom-contents {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.footer-copyright {
	padding: 0;
	padding-top: 37px;
/*	padding-left: 1px; !pl1px*/
	margin: 0;
}

.footer-link {
	color: #ffd180;
	text-decoration: none;
}

.footer-link:hover,
.footer-link:focus {
	text-decoration: underline;
}

.footer-link:active {
	color: #ee3643;
}

.social:hover,
.social:focus,
.social:active {
	background-color: #ee3643;
}

/* два селектора ниже слетят когда появятся социалистические кнопки*/
.footer-feedback {
	padding-left: 120px;
}

.footer-dev {
	padding-right: 14px;
}

.feedback-popup {
	background-color: #ffffff;
	border-top:3px solid #ee3643;
	color: #000000;
	font-size: 18px;
	line-height: 18px;
}

.feedback-popup ::placeholder {
	color: #a9a9a9;
	font-size: 13px;
	line-height: 18px;
}

.feedback-button-wraper {
	background-color: #f4f4f4;
}



/*доп-стили для каталога */



.breadcrumbs,
.filter-section,
.catalog-sort {
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}

.breadcrumbs-list {
	display: flex;
	flex-basis: 360px;
	width: 360px;
	padding: 0;
	margin: 0;
	padding-top: 18px;
	padding-right: 2px;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}
.breadcrumbs-link {
	padding: 0;
	margin: 0;
	padding-left: 42px;
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
}

.current-category {
	padding: 0;
	margin: 0;
	margin-top: 17px;
	padding-top: 29px;
    padding-left: 28px;
    padding-bottom: 30px;
	color: #32425c;
	background-color: #f2f6f8;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.main-block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.filter-section {
	display: flex;
	flex-flow: column nowrap;

	margin: 0;
	padding: 0;
	width: 220px;

	color: #000000;
}

.filter-header {
	width: 100%;
	margin: 0;
	padding: 11px 19px 9px;
	/*padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 19px;*/
    margin-top: 20px;
    margin-bottom: 10px;

	color: #000000;
	background-color: #f7f3ec;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 4px;
}

.filter-fieldset {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	flex-basis: 220px;

	width: 220px;
	border: 0;
	margin: 0;
	padding: 0;
	padding-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.filter-legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
}

.filter-legend-price {
	padding-top: 3px;
}

.price-range {
	margin-top: 13px;
	/*align-self: flex-start;*/
	width: 220px;
	height: 80px;
	background-color: #f7f3ec;
	border-radius: 4px;

	/*временная заглушка*/
}

.price-range-list {
	margin-top: 8px;
}

.filter-price-input {
	/*display: inline-block;*/
	padding: 0;
	margin: 0;
	padding-top: 2px;
	padding-left: 16px;
	width: 95px;
	height: 38px;

	font-size: 17px;
	line-height: 18px;
	text-align: center;

	background-color: #f7f3ec;
	border: none;
	border-radius: 4px;
}

.filter-price-input:first-child {
	margin-right: 25px;
}

.filter-legend-brands {
	padding-top: 18px;
}

.filter-input {

}
.catalog-sort {
	background-color: #f7f3ec;
}
/* наборы выше и ниже распихать по своим селекторам*/

.catalog-sort,
.filter-button,
.pagination {
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.filter-option-label {
	padding: 14px 34px 6px;
	margin: 0;
	font-size: 15px;
	line-height: 20px;
}

.brands-fieldset {
	padding-bottom: 14px;
}


.filter-legend-power {
	padding-top: 19px;
}

.power-fieldset {
	border: none;
}


/* .filter-button - сделать общим класом для каталога*/
.catalog-button {
	padding-top: 6px;
	width: 10px; /*заведомо ложная*/
	height: 38px;

	background-color: #ffffff;
	
	font-family: "PT Sans", "Tahoma", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;

	border: 1px solid #e5e5e5;
	border-radius: 4px;
	outline: none;
}

.catalog-button:focus, 
.catalog-button:hover {
	border-color: #bdc6ca;
}

.catalog-button:active {
	border-color: #ee3643;
}

.filter-button {
	margin-top: 45px;
	width: 140px;
}

.catalog {/*
	padding: 0;
	margin: 0;*/
	display: flex;
	flex-flow: column nowrap;
	width: 700px;
}


.catalog-sort {
	display: flex;
	flex-flow: row nowrap;
	/*flex-basis: 700px;*/
	/*если с флекс-базис, контейнер разносит до 700на700, не понимаю почему*/
	justify-content: space-between;
	align-items: center;
	width: 700px;
	height: 38px;
	/*margin-left: 15px;*/
	margin-top: 21px;

	border-radius: 4px;

}

.catalog-sort-header {
	padding: 0;
	padding-left: 19px;
	padding-right: 82px;
	margin: 0;
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
}

.sort-parameter {
	padding-right: 14px;
	padding-left: 15px; 
	/*бред*/
}

.sort-arrow {
	/*забивка*/
}

.sort-arrow-asc {
	/*забивка*/
}

.sort-arrow-desc {
	/*забивка*/
}

.sort-parameter-general {
	/*display: inline;*/
	color: rgba(0, 0, 0, 0.3);
	/*border-bottom: 1px dotted #ee3643;*/
	text-decoration: underline;
	text-decoration-color: #ee3643;
	text-decoration-style: dotted;
}

.sort-parameter-general:focus,
.sort-parameter-general:hover {

	color: rgba(0, 0, 0, 1);
	text-decoration-style: solid;
}

.sort-parameter-general:active {
	color: #ee3643;
	text-decoration: none;
}

.sort-parameter-selected {
	color: #ee3643;
	text-decoration: none;
}


.catalog-items-list {
	display: flex;
	/*flex-basis: 700px;   - всё ломает */
	width: 700px;
	flex-flow: row wrap;
	justify-content: flex-start;
	padding: 0;
	margin: 0;
	margin-top: 19px;
    /*margin-left: 16px;*/
}

.catalog-items-list .item {
/*	margin-left: 15px;
	margin-top: 19px;*/
	margin-right: 20px;
	margin-bottom: 20px;
}

.catalog-items-list .item:nth-child(3n) {
	margin-right: 0;
}


.pagination-list {
	display: flex;
	padding:0;
	margin: 0;
	
}

.pagination {
	margin-left: 10px;
	margin-top: 32px;
	padding-top: 3px;
	width: 38px;	
}

.pagination-next {
	width: 140px;
}

.pagination-selected {
	margin-top: 32px;
	padding-top: 3px;
	width: 38px;
	color: #ffffff;
	background-color: #ee3643;
	border: none;
}

.category-details {
	padding-top: 64px;
	margin-bottom: 67px;
	background-color: #f2f6f8;
}

.category-details-header {
	padding: 0px;
	margin: 0px;
	/*padding-top: 64px;*/
	padding-bottom: 15px;
	color: #000000;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}
