.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db

stylelint-config-htmlacademy/index\.js

stylelint-config-htmlacademy/

img/Untitled-1\.png

css-overrides/file%3a/Users/SummoningDark/Documents/HTML%2520CSS/Technomart%2520-%2520GitKraken/css/style\.css

css-overrides/inspector%3a/Users/SummoningDark/Documents/HTML%2520CSS/Technomart%2520-%2520GitKraken/inspector-stylesheet

chrome-overrides/file%3a/D%3a/HTML/Technomart/777383-technomart/css/style\.css
