.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db

stylelint-config-htmlacademy/index\.js

stylelint-config-htmlacademy/

img/Untitled-1\.png

css-overrides/file%3a/Users/SummoningDark/Documents/HTML%2520CSS/Technomart%2520-%2520GitKraken/css/style\.css

css-overrides/inspector%3a/Users/SummoningDark/Documents/HTML%2520CSS/Technomart%2520-%2520GitKraken/inspector-stylesheet

chrome-overrides/file%3a/D%3a/HTML/Technomart/777383-technomart/css/style\.css

chrome-overrides/file%3a/D%3a/HTML/Technomart/777383-technomart/css/

chrome-overrides/inspector%3a/D%3a/HTML/Technomart/777383-technomart/inspector-stylesheet

HTML Academy_ Техномарт_files/1525189943-38523\.png

HTML Academy_ Техномарт_files/bosch-bfg-2000\.jpg

HTML Academy_ Техномарт_files/bosch-bfg-3000\.jpg

HTML Academy_ Техномарт_files/bosch-bfg-6000\.jpg

HTML Academy_ Техномарт_files/bosch-bfg-9000\.jpg

HTML Academy_ Техномарт_files/brands-aeg\.jpg

HTML Academy_ Техномарт_files/brands-bosch\.jpg

HTML Academy_ Техномарт_files/brands-dewalt\.jpg

HTML Academy_ Техномарт_files/brands-hitachi\.jpg

HTML Academy_ Техномарт_files/brands-interskol\.jpg

HTML Academy_ Техномарт_files/brands-lg\.jpg

HTML Academy_ Техномарт_files/brands-makia\.jpg

HTML Academy_ Техномарт_files/brands-metabo\.jpg

HTML Academy_ Техномарт_files/carbon-modified\.js\.download

HTML Academy_ Техномарт_files/carbonads\.html

HTML Academy_ Техномарт_files/CKYIV5QN\.json

HTML Academy_ Техномарт_files/fonts\.css

HTML Academy_ Техномарт_files/map\.jpg

HTML Academy_ Техномарт_files/normalize\.css

HTML Academy_ Техномарт_files/style\.css

index_dirty\.html
